@use '../../styles/variables' as vars;

#megabonk-lab {
    height: 100%;

    span {
        position: absolute;
        bottom: 45px;
        left: 15px;
        font-size: 2.5rem;
        color: vars.$font-light;
        text-decoration: underline;

        &:hover {
            color: lightgray;
        }
    }
}