@use '../../styles/variables' as vars;

.win {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 11px;
	box-shadow:
		inset -1px -1px #0a0a0a,
		inset 1px 1px #dfdfdf,
		inset -2px -2px vars.$gray,
		inset 2px 2px vars.$white;
	padding: 3px;
	width: 250px;
	background-color: vars.$silver;
	user-select: none;
    display: flex;
    flex-direction: column;

	&.fullscreen {
		top: 0 !important;
		left: 0 !important;
		width: 100%;
		height: 100%;

		.win-content,
		.win-content .container {
			height: calc(100% - 35px);
		}
	}

	.win-title {
        flex: 0 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3px 2px 3px 3px;
		background: linear-gradient(
			90deg,
			vars.$window-blue,
			vars.$window-light-blue
		);
        pointer-events: auto;

		.win-title-text {
			color: vars.$white;
			margin-right: 25px;
			font-weight: 600;
		}

		.win-title-controls {
			display: flex;

			.button {
				min-height: 14px;
				min-width: 16px;
				padding: 0;
				background-repeat: no-repeat;
				margin-left: 2px;
                pointer-events: auto;

				&.minimize {
					background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
					background-position: bottom 3px left 4px;
				}

				&.maximize {
					background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
					background-position: top 2px left 3px;
				}

				&.close {
					background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
					background-position: top 3px left 4px;
				}
			}
		}
	}

	.win-content {
        flex: 1 1 auto;

		p {
			max-width: 50rem;
			line-height: 1.5;
			padding: 5px 0;
		}
	}

	.win-status-bar {
		display: flex;
		gap: 1px;
		margin: 0 1px;
		font-size: 11px;

		.win-status-bar-field {
			flex-grow: 1;
			line-height: 1rem;
			box-shadow:
				inset -1px -1px #dfdfdf,
				inset 1px 1px vars.$gray;
			margin: 0;
			padding: 2px 3px;
		}
	}
}
