@use './styles/variables' as vars;

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: vars.$font;
	background-color: vars.$background;
	color: vars.$foreground;
}
