@use './styles/variables' as vars;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: W95FA;
}

html,
body,
#root,
#desktop,
.desktop-items {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    background-color: vars.$os-bg
}
